*{
  margin:0rem;
  padding:0rem
}
html, body, #root, #root>div {
  height: 100%;
}
.app-wrapper{
  background-image: url(./assets/images/ivanovo-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100% - 3.45rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  user-select: none;
}
