@media (max-width:1660px){
  .result{
    max-width: 1400px;
  }
}
@media (max-width:1440px){
  .result{
    max-width: 1200px;
  }
}
@media (max-width:1240px){
  .result{
    max-width: 890px;
    font-size: 2.7rem!important;
  }
}
@media(max-width:942px){
  .result{
    max-width: 792px;
  }
}
@media(max-width:900px){
  .quiz{
    max-width: 728px;
  }
  .option{
    max-width: 45rem;
  }
}
@media(max-width:792px){
  .quiz{
    max-width: 620px;
  }
  .option{
    max-width: 40rem;
  }
  .result{
    max-width:620px ;
  }
  .result-conclusion{
    border-radius: 0.75rem 0.75rem 0 0!important;
  }
  .result-title{
    font-size:3rem!important;
  }
  .result-description{
    font-size: 2.5rem!important;
  }
}
@media(max-width:700px){
  html{
    font-size: 15px;
  }
  .quiz{
    max-width: 440px;
  }
  .option{
    max-width: 25rem;
  }
  .result{
    max-width: 390px;
  }
  .app-wrapper{
    background-position: center;
  }
}
@media(max-width:475px){
  .quiz{
    max-width: 320px;
  }
  .question{
    font-size: 1.3rem!important;
  }
  .option{
    max-width: 18rem;
    max-height: 2.1rem;
    font-size: 1.1rem!important;
  }
  .result{
    max-width: 320px;
  }
  .result-description{
    font-size: 1.8rem!important;
  }
}